# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.env
.env.*
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.matlab/

# Data & model files (add exceptions as needed)
*.csv
*.bin
*.h5
*.pkl
*.pt
*.pth
data/**/*.mat
data/**/*.tab
data/**/*.part
results/**/_cache/
results/**/_matlab_prefs/

# Logs
*.log

# Large Archive and Result Directories
*.zip
results/**/Final/
results/**/Finalv*/
results/**/*_checkpoints/
